@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(https://images.unsplash.com/photo-1607430866111-3f2b5804f850?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2lubmFtb258ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 100px;
    cursor: pointer;
    margin-left: -3rem;
    margin-top: 1rem;

}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px;
}

.navbar ul li{
    list-style: none;
    display: flex;
    margin-left: 50px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 5px;
    width: 0%;
background: linear-gradient(to right,#ff512f , #dd2476);
position: absolute;
left: 0%;
bottom: -10px;
transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;

}
.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
  color: aqua;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
  
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(21, 223, 223, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
